<div>
  <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ID">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
    </ng-container>

    <ng-container matColumnDef="filter-ID">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>ID</mat-label>
          <input matInput type="number" [formControl]="filterID" />
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="Title">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element">
        <span class="ellipsis" [title]="element.Title" >{{element.Title}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="filter-Title">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput type="text" [formControl]="filterTitle" />
        </mat-form-field>
      </th>
    </ng-container>

    <ng-container matColumnDef="Criticality">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Criticality </th>
      <td mat-cell *matCellDef="let element"> {{element.Criticality}} </td>
    </ng-container>

    <ng-container matColumnDef="filter-Criticality">
      <th mat-header-cell *matHeaderCellDef>
        <mat-form-field>
          <mat-label>Criticality</mat-label>
          <input matInput  type="number" [formControl]="filterCriticality" />
        </mat-form-field>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumnFilters"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [length]="resultsLength"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
